fastapi
uvicorn
pydantic-settings
boto3
psycopg2-binary
sqlalchemy
ollama
pdfplumber
pymupdf
python-dateutil
qdrant-client
sentence-transformers
transformers
pandas
tiktoken
unstructured[local-inference]
pdf2image
pytesseract
easyocr
jinja2
faiss-cpu
rank-bm25
