fastapi
uvicorn
pydantic-settings
boto3
psycopg2-binary
ollama
pdfplumber
pymupdf
python-dateutil
qdrant-client
sentence-transformers
pandas
unstructured[local-inference]
pdf2image
pytesseract
easyocr
