fastapi
uvicorn
pydantic-settings
boto3
psycopg2-binary
sqlalchemy
ollama
pdfplumber
pymupdf
python-dateutil
qdrant-client
requests
sentence-transformers
python-docx
python-pptx
transformers
pandas
tiktoken
unstructured[local-inference]
pdf2image
pytesseract
easyocr
jinja2
faiss-cpu
rank-bm25
redis
email-validator
langchain
langchain-community
langchain-openai
langgraph
httpx
langcache
neo4j
nltk
neo4j
requests
loguru
rapidfuzz
retrying
accelerate
bitsandbytes
datasets
peft
trl
unsloth
